<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - ClassLogger</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

</head>
<body>
    <div class="navbar navbar-default navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("ClassLogger", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Home", "Index", "Home")</li>
                    
                    @if (User.IsInRole("Administrador"))
                    {
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">
                                Administrador <span class="caret"></span>
                            </a>
                            <ul class="dropdown-menu" role="menu">
                                <li>
                                    @Html.ActionLink("Registrar Administrador", "RegistrarAdmin", "Admin", routeValues: null, htmlAttributes: new {title = "Registrar Administrador"})
                                </li>
                            </ul>
                        </li>
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">
                                Coordenador <span class="caret"></span>
                            </a>
                            <ul class="dropdown-menu" role="menu">
                                <li>
                                    @Html.ActionLink("Registrar Coordenador", "Registrar", "Coordenador", routeValues: null, htmlAttributes: new {title = "Registrar Coordenador" })
                                </li>
                                <li>
                                    @Html.ActionLink("Atribuir Coordenador", "Atribuir", "Coordenador", routeValues: null, htmlAttributes: new { title = "Registrar Coordenador" })
                                </li>
                            </ul>
                        </li>
                    }
                    @if (User.IsInRole("Administrador") || User.IsInRole("Coordenador"))
                    {
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">
                                Curso <span class="caret"></span>
                            </a>
                            <ul class="dropdown-menu" role="menu">
                                <li>
                                    @Html.ActionLink("Registrar Curso", "Registrar", "Curso", routeValues: null, htmlAttributes: new {title = "Registrar Curso" })
                                </li>
                                <li>
                                    @Html.ActionLink("Listar Cursos", "Listar", "Curso", routeValues: null, htmlAttributes: new { title = "Registrar Curso" })
                                </li>
                            </ul>
                        </li>

                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">
                                Professor <span class="caret"></span>
                            </a>
                            <ul class="dropdown-menu" role="menu">
                                <li>
                                    @Html.ActionLink("Registrar Professor", "Registrar", "Professor", routeValues: null, htmlAttributes: new { title = "Registrar Curso" })
                                </li>
                            </ul>
                        </li>

                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">
                                Aluno <span class="caret"></span>
                            </a>
                            <ul class="dropdown-menu" role="menu">
                                <li>
                                    @Html.ActionLink("Registrar Aluno", "Registrar", "Aluno", routeValues: null, htmlAttributes: new { title = "Registrar Curso" })
                                </li>
                            </ul>
                        </li>
                    }

                </ul>
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - ClassLogger</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
